body {
    background: #f5f5f5;
}

.ava {
    width: 45%;
    height: 45%;
    margin-right: 50px;
}

.profile_name {
    margin: auto;
    margin-bottom: 35px;
    font-size: x-large;
    font-weight: bold;
}

.user_data {
    font-size: large;
}
