<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <title>Favorite songs</title>
</head>

<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <div class="col-sm col-sm-pull-2">
                <button class="btn-lg link-btn btn-primary" id="back">Back</button>
            </div>
            <div class="col-sm col-sm-push-6">
                <button class="btn-lg link-btn btn-primary" id="main_page">Main page</button>
            </div>
        </div>
    </div>
</header>

<body>
<br>
<div class="row">
    <div class="col-sm col-sm-push-5">
        <p style="font-size: xx-large; font-weight: bold">Favorite songs</p>
    </div>
    <div class="col"></div>
</div>
<br>
<div class="row">
    <div class="col-sm col-sm-push-1">
        <div class="row">
            <div class="col-sm">
                <p style="font-weight: bold; font-size: large">&{title} - &{author}</p>
            </div>
        </div>
        <img style="width: 40%; height: 80%"
             class="cover-img img-thumbnail" src="../../web/pictures/imd.jpg" alt="Song cover">
    </div>
    <div class="col">
        <div class="row">
            <div class="col-sm">
                <p style="font-weight: bold; font-size: large">&{title} - &{author}</p>
            </div>
        </div>
        <img style="width: 40%; height: 80%"
             class="cover-img img-thumbnail" src="../../web/pictures/imd.jpg" alt="Song cover">
    </div>
    <div class="col">
        <div class="row">
            <div class="col-sm">
                <p style="font-weight: bold; font-size: large">&{title} - &{author}</p>
            </div>
        </div>
        <img style="width: 40%; height: 80%"
             class="cover-img img-thumbnail" src="../../web/pictures/imd.jpg" alt="Song cover">
    </div>
</div>
</body>
</html>