<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum main page</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="styles/forum_page.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap-grid.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
<!--    <link href="styles/song_page.css" rel="stylesheet">-->

</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="col"></div>
        <div class="col-sm col-sm-push-4">
            <button type="button" class="main_btn btn btn-lg btn-primary" id="link-to-main-page">Main page</button>
        </div>
    </div>
</header>
<div class="row">
    <div class="col"></div>
    <div class="col col-sm-pull-3">
        <div class="title row">All topics</div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <a class="panel-title" href="$link_id">${theme_id}</a>
                        </div>
                        <div class="col-sm">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        ${description_id}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <a class="panel-title" href="$link_id">${theme_id}</a>
                        </div>
                        <div class="col-sm">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        ${description_id}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <a class="panel-title" href="$link_id">${theme_id}</a>
                        </div>
                        <div class="col-sm">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        ${description_id}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <a class="panel-title" href="$link_id">${theme_id}</a>
                        </div>
                        <div class="col-sm">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        ${description_id}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col">
                            <a class="panel-title" href="$link_id">${theme_id}</a>
                        </div>
                        <div class="col-sm">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        ${description_id}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>