<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="main_page.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="btn-group" role="group" arealabel="Baic">
        <input class="form-control py-2" type="search" placeholder="search" id="example-search-input">
        <button class="btn btn btn-lg btn-primary btn-sm mbtn" type="button"></button>
        <button type="button" class="btn btn-lg btn-primary btn-sm" id="sign_in">Sign in</button>
        <button type="button" class="btn btn-lg btn-primary btn-sm" id="sign_up">Sign up</button>
    </div>
</div>
</body>

</html>