.navbar {
    height: 50px;
}

.b {
    font-size: 200%;
    height: 35px;
    width: 130px;
    margin-left: 30px;
}

.row {
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.form-control {
    font-size: 200%;
    width: 170px;
    height: 35px;
}

.dropdown {
    position: absolute;
    left: 0;
    margin-left: 30px;
}

.dropdown-item {
    font-size: 150%;
}