<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="styles/topic_page.css" rel="stylesheet">
    <link href="styles/toggle_heart.css" rel="stylesheet">

    <link href="bootstrap/css/bootstrap-grid.css" rel="stylesheet">
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <title>Topic page</title>
</head>
<body>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <div class="col"></div>
        <div class="col-sm col-sm-push-6">
            <button class="main_btn btn btn-lg btn-primary" id="main_page" href="">Main page</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm col-sm-push-5">
        <h1>&{theme_id}</h1>
    </div>
    <div class="col"></div>
</div>
<br>
<div class="main_row row">
    <div class="main_panel panel panel-primary">
        <div class="panel-heading">
            <a class="panel-title" href="" id="user">&{user_id}</a>
        </div>
        <div class="panel-body">
            <div class="row">
                ${description_id}
            </div>
            <div class="row">
                <div class="col"></div>
                <div class="col-lg col-lg-push-5">
                    <div class="row">
                        <input id="toggle-heart" type="checkbox"/>
                        <label for="toggle-heart" aria-label="like">❤</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-sm col-sm-push-1">
        <h2>Answers: </h2> <br>
    </div>
    <div class="col"></div>
</div>
<div>
    <div class="main_row row">
        <div class="main_panel panel panel-primary">
            <div class="panel-heading">
                <a class="panel-title" href="" id="user_answer">&{user_id} </a>
            </div>
            <div id="answer" class="panel-body">
                ${answer_id}
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col-sm col-sm-push-2">
                        <input id="get_comments" class="btn btn-primary" type="button" value="Show all comments" onmousedown="viewDiv()">
                    </div>
                    <div class="col-sm col-sm-push-1">
                        <form method="post">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
                                Leave comment
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function viewDiv(){
        document.getElementById("div1").style.display = "block";
    }
</script>
<div id="div1">
    <div class="row">
        <div class="col"></div>
        <div class="col-sm col-sm-pull-1">
            <h2>Comments:</h2>
        </div>
    </div>
    <div class="main_panel panel panel-primary">
        <div class="panel-heading">
            <a class="panel-title" href="" id="comment_user_1">&{user_id} </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="a1" class="panel-body">
            ${comment_id}
        </div>
    </div>
    <div class="main_panel panel panel-primary">
        <div class="panel-heading">
            <a class="panel-title" href="" id="comment_user_2">&{user_id} </a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div id="a2" class="panel-body">
            ${comment_id}
        </div>
    </div>
</div>
<div class="row">
    <div class="col"></div>
    <div class="col-sm col-sm-push-1">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#answerModal">
            To answer
        </button>
    </div>
    <div class="col"></div>
</div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<!-- Modal -->
<div class="modal fade" id="answerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="answerLable">Your answer is:</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" id="answer_is" class="input-comment">
                </form>
            </div>
            <div class="modal-footer">
                <form method="post">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="leave_answer">Leave answer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Your comment is:</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <input type="text" style="font-size: large" id="comment" class="input-comment">
                </form>
            </div>
            <div class="modal-footer">
                <form method="post">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="leave_commentr">Leave comment</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- JS code -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js">
</script>
</body>
</html>