<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User profile</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link href="../../web/styles/main_page.css" rel="stylesheet">
        <link href="../../web/styles/user_profile.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="navbar navbar-dark bg-dark shadow_sm">
        <div class="container">
            <div class="dropdown open">
                <button class="btn btn-primary btn-lg dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <button class="dropdown-item" type="button" id="main_page">Main page</button>
                    <button class="dropdown-item" type="button" id="user_page">Edit profile</button>
                    <button class="dropdown-item" type="button" id="open_topics">Open topics</button>
                    <button class="dropdown-item" type="button" id="to_open_topocs">To open a topic</button>
                    <button class="dropdown-item" type="button" id="favorite_songs">Favorite Songs</button>
                    <button class="dropdown-item" type="button" id="favorite_topics">Favorite Topics</button>
                    <button class="dropdown-item" type="button" id="add_song">Add a song</button>
                </div>
            </div>
            <div  class="fr row flex-xl-nowrap">
                <button type="button" class="b btn btn-lg btn-primary btn-sm" id="sign_in">Sign out</button>
            </div>
        </div>
    </div>
</header>
<div class="row">
    <p class="profile_name">Profile</p>
</div>
<div class="row">
    <div class="col-sm">
        <p></p>
    </div>
    <div class="fc col-sm col-sm-pull-1">
        <div class="ava_card">
            <img class="ava img-thumbnail" src="../../web/pictures/ava.jpg" align="left" alt="Set photo">
        </div>
        <div>
            <label>Your login:</label>
            <p class="user_data border-top border-bottom">${login}</p>
        </div>
        <div>
            <label>Name:</label>
            <p class="user_data border-top border-bottom">${name}</p>
        </div>
        <div>
            <label>Email:</label>
            <p class="user_data border-top border-bottom">${email}</p>
        </div>
        <div>
            <label>Town:</label>
            <p class="user_data border-top border-bottom">${town}</p>
        </div>
        <div>
            <label>Male/female:</label>
            <p class="user_data border-top border-bottom">${gender}</p>
        </div>
        <div>
            <label>Birth date:</label>
            <p class="user_data border-top border-bottom">${birth_date}</p>
        </div>
        <div>
            <label>About yourself:</label>
            <p class="user_data border-top border-bottom">${inf_about_user}</p>
        </div>
        <div>
            <label>Favorite music genre:</label>
            <p class="user_data border-top border-bottom">${favorite_music}</p>
        </div>
        <div>
            <label>Favorite music group or/and artist:</label>
            <p class="user_data border-top border-bottom">${favorite_artist}</p>
        </div>
    </div>
    <div class="col-sm"></div>
</div>
</body>
</html>